In [3]:
from pandas_visual_analysis import VisualAnalysis
import pandas as pd
import seaborn as sns

c:\users\cdileepkumar\documents\02 python_practice\03 softwares\01 python\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [9]:
data=sns.load_dataset('iris')

In [14]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
VisualAnalysis(data)

VBox(children=(ToggleButtons(_dom_classes=('layout-3ede8d940c0542dfae87f11920634a24',), description='Selectionâ€¦