In [5]:
import pandas as pd
import datetime

df_base=datetime.datetime.today()
df_date_list=[df_base - datetime.timedelta(days=x) for x in range(0,20)]
df=pd.DataFrame(df_date_list)
df.columns=['Day']
df.head()

                         Day
0 2020-09-05 16:51:15.290255
1 2020-09-04 16:51:15.290255
2 2020-09-03 16:51:15.290255
3 2020-09-02 16:51:15.290255
4 2020-09-01 16:51:15.290255

In [7]:
df['day_of_week']=df['Day'].dt.weekday_name
df.head()

                         Day day_of_week
0 2020-09-05 16:51:15.290255    Saturday
1 2020-09-04 16:51:15.290255      Friday
2 2020-09-03 16:51:15.290255    Thursday
3 2020-09-02 16:51:15.290255   Wednesday
4 2020-09-01 16:51:15.290255     Tuesday

In [10]:
weekday_map={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
df['day_of_week'].map(weekday_map)

0     6
1     5
2     4
3     3
4     2
5     1
6     7
7     6
8     5
9     4
10    3
11    2
12    1
13    7
14    6
15    5
16    4
17    3
18    2
19    1
Name: day_of_week, dtype: int64